# Configurações do Servidor
PORT=3000

# Configurações do Banco de Dados PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=alerta_cidadao
DB_PASSWORD=sua_senha_aqui
DB_PORT=5432

# Chave Secreta para o Token JWT (Autenticação)
JWT_SECRET=sua_chave_secreta_aqui

# Configurações de Envio de E-mail (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASS=sua_senha_de_app_aqui
